@import "./variables"
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap')
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap')

=flato($boldness: normal)
    font-family: 'Lato', sans-serif
    font-weight: $boldness

=fgoose($boldness: normal)
    font-family: 'Montserrat', sans-serif
    font-weight: $boldness

=flexit($jc: center)
    display: flex
    justify-content: $jc
    align-items: center

main 
    +flato()
    color: #2e2e2e
    min-width: 320px

ul 
    +flexit()
    justify-content: space-around
    li
        list-style: none
        padding-right: 10px 

a
    text-decoration: none
    &:hover
        font-weight: 900
        color: $crd
        text-decoration: none
        cursor: pointer

header
    .gray-bar
        height: 30px
        background: $cgy3
        padding-left: $p-md-x
        padding-right: $p-md-x
        color: white
        margin-left: auto
        ul 
            margin-left: auto
    li
        color: white
        &:hover
            font-weight: 900
            margin-left: -7px
            cursor: pointer
    .d-md-none            
        .fa-bars
            color: $cbl
            margin: 15px 0 0 20px
            font-size: 30px

                

.bgimg
    background-image: url(https://images7.alphacoders.com/403/403245.jpg)
    background-size: cover
    width: 100%
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: -1
    opacity: 0.1

.white-bar
        background-color: white
        font-size: 25px
        padding-left: $p-md-x
        padding-right: $p-md-x
        ul 
            justify-content: space-between
        i 
            font-size: 65px
            color: $crd
        h4 
            color: $crd
        a
            color: $cgy3
            &:hover
                font-weight: 900
                color: $crd
                text-decoration: none
                cursor: pointer

.welcome
    margin: 3rem auto 0 auto
    width: 90%
    @media (min-width: 768px)
        padding-left: $p-md-x
        padding-right: $p-md-x
        width: 100%
    @media (max-width: 768px)
        margin-top: 75px
    h4 
        color: $crd
        @media ( min-width: 768px )
            font-size: 40px
    h1 
        position: relative
        z-index: 3
        font-size: 70px
        background-image: url(https://cdn.pixabay.com/photo/2014/06/22/05/49/rose-374318_1280.jpg)
        -webkit-text-fill-color: transparent
        -webkit-background-clip: text
        +fgoose(900)
        @media (max-width: 768px)
            font-size: 30px
    .summary-event
        position: relative
        p
            +flato($boldness: 500)
            padding: 15px
            position: relative
            background-color: $cgy2
            border: 5px white solid
            border-radius: 3px
            z-index: 3
        .circle
            position: absolute
            width: 110px
            height: 110px
            border-radius: 50%
            background-color: $crd
            right: -50px
            top: -50px
            z-index: 1
            @media (max-width: 768px)
                top: -35px
                right: 50px
                width: 80px
                height: 80px
        @media (min-width: 768px)
            font-size: 20px
            max-width: 800px
            margin-top: 30px
    h5
        @media (min-width: 768px)
            font-size: 35px


.main-program
    background-image: linear-gradient(to top, #353638, $cgy3 30%, $cgy3 70%, #353638, $cgy3)
    background-size: 50px 50px
    width: 100%
    padding-bottom: 25px
    color: white
    @media (min-width: 768px)
        padding-left: $p-md-x
        padding-right: $p-md-x
    h1
        text-align: center
        padding-top: 35px
    .nested-section
        +flexit(space-between)
        // width: 80%
        @media ( max-width: 768px)
            display: block
            width: 100%
    article
        width: 19%
        height: 250px
        background-color: #ffffff18 
        color: white
        text-align: center
        padding: 25px 15px 5px 15px
        margin: 0 5px
        @media (max-width: 1170px)
            height: 300px
        &:hover
            border: 2px white solid
            cursor: pointer
            position: relative
            top: -2px
        .fas
            font-size: 55px
            margin-bottom: 5px
        h3 
            padding-top: 6px
            color: $orange
            font-weight: 700
            @media (max-width: 1170px)
                font-size: 16px
        @media (max-width: 768px)
            height: 100px
            width: 95%
            margin: 15px auto
            +flexit(space-around)
            h3 
                font-size: 18px
            p 
                width: 50%
                text-align: left
                padding-top: 3px
                font-size: 10px
                padding-left: 5px
            .fas
                font-size: 40px

.featured-speakers
    text-align: center
    padding-left: 10px
    @media (min-width: 768px)
        padding-left: $p-md-x
        padding-right: $p-md-x
        width: 100%
    h1 
        padding-top: 10px
        font-size: 30px 
        font-weight: 500
    .media 
        padding: 10px
        a 
            width: 100px
            height: 150px
            overflow: hidden
            &::before
                content: ""
                height: 155px
                width: 100px
                top: -5px
                left: -5px
                position: absolute
                border-left: 15px $crd solid
                border-top: 15px $crd solid
                z-index: 0
                border-radius: 10%
            @media (min-width: 768px)
                width: 125px
                height: 175px
            img
                width: 150%
                margin-left: -20px
                @media (min-width: 768px)
                    margin-left: -30px


        .media-body
            padding-left: 10px
            text-align: left
            h6 
                font-weight: 900
            p 
                font-size: 13px
                padding-top: 9px
                &::before
                    padding-top: 9px
                    display: block
                    content: ''
                    width: 25px
                    border-top: 2px gray solid

.partners
    color: white
    background-color: $cgy3
    padding-top: 25px
    padding-bottom: 25px
    h3 
        text-align: center
    .partner-logos
        margin: 0 auto
        width: 80%
        +flexit($jc: space-around)
        .fas
            color: $clogo
            font-size: 40px

footer
    background-color: $cfooter
    padding-left: 50px
    .fas
        font-size: 70px
    h4 
        font-weight: 700
    p
        margin-left: 25px
    @media (max-width: 768px)
        padding-left: 25px 
        padding-right: 25px 
        .fas
            30px
        h4
            font-size: 20px
        p 
            margin-left: 5px


.border-red
    height: 5px
    width: 50px
    border-top: 5px $crd solid
    margin: 15px auto

.bg-corange
    background-color: $corange2
    color: white

.orange-text
    color: $orange

.fa-chevron-down
    color: $orange

.yasar-hoca
    margin-top: -44px

.ferhunde-hoca
    margin-top: -20px

.dropdown-toggle
    &::after
        visibility: hidden